<!--
 / My portfolio site
 / Copyright (C) 2025  ChosenSoul
 /
 / This program is free software: you can redistribute it and/or modify
 / it under the terms of the GNU General Public License as published by
 / the Free Software Foundation, either version 3 of the License, or
 / (at your option) any later version.
 /
 / This program is distributed in the hope that it will be useful,
 / but WITHOUT ANY WARRANTY; without even the implied warranty of
 / MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 / GNU General Public License for more details.
 /
 / You should have received a copy of the GNU General Public License
 / along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

---
import App from '../App.tsx';
---


<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="https://chosensoul.vercel.app/" />
    <meta name="google-site-verification" content="UzzCjpNWZGojeO6gmKOTawn4rxfMbL-CGOIEEmztOE4" />
    <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />

    <link rel="icon" type="image/png" href="/assets/icons/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChosenSoul | My Portfolio</title>
    <meta name="description" content="
      ChosenSoul@linux:~$ A passionate programmer and enthusiast specializing in Frontend development and Embedded Systems. Currently a college student diving deep into algorithms, OS and creating responsive web interfaces. View my learning journey and projects.
    ">
    <meta name="keywords" content="ChosenSoul, Frontend Developer, Embedder, Web Developer, IoT Development, Embedded Systems, JavaScript, TypeScript, React, Node.js, HTML5, CSS3, SCSS, UI/UX, Responsive Design, API Integration, Git, GitHub, portfolio, resume, CV, freelance, microcontrollers, портфолио, резюме, фриланс, Фронтенд разработчик, Эмбеддер, Веб-разработка, Встраиваемые системы, Разработка IoT, Адаптивный дизайн, портфоліо, фріланс, Фронтенд розробник, Вбудовані системи, Розробка IoT" />
    <meta name="robots" content="index, follow"> 
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="ru_RU" />
    <meta property="og:locale:alternate" content="uk_UA" />

    <meta property="og:site_name" content="ChosenSoul portfolio" />
    <meta property="og:title" content="ChosenSoul" />
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="https://chosensoul.vercel.app" />
    <meta property="og:image" content="https://chosensoul.vercel.app/social-preview.jpg" />

    <meta name="twitter:title" content="ChosenSoul portfolio" />
    <meta name="twitter:description" content="Frontend and embedded systems development portfolio." />
    <meta name="twitter:image" content="https://chosensoul.vercel.app/social-preview.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="/assets/icons/logo.png" />
  </head>
  <body>
    <div id="root">
        <App client:only="react" />
    </div>
  </body>
  <script src="/registerSW.js" is:inline></script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "ChosenSoul",
    "url": "https://chosensoul.vercel.app",
    "sameAs": [
      "https://github.com/ChosenSoull",
      "https://t.me/ChosenS0ul"
    ]
  }
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S4GHYFJXNE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-S4GHYFJXNE');
  </script>
</html>

