@import "tailwindcss";

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-dark-purple-950);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;

    color: var(--color-dark-purple-600);
}

@font-face {
    font-family: 'JekoDEMO-ExtraBold'; 
    src: url('/assets/fonts/JekoDEMO-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@theme {
    --font-jeko: 'JekoDEMO-ExtraBold', sans-serif;
    
    --color-dark-purple-950: #11002C;
    --color-dark-purple-900: #240046;
    --color-dark-purple-850: #3A076D;
    --color-dark-purple-800: #5A199B;
    --color-dark-purple-750: #7B2BBE;
    --color-dark-purple-700: #9D4EDD;
    --color-dark-purple-650: #C67DFF;
    --color-dark-purple-600: #E0AAFE;
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Для Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Для WebKit-браузеров */
  }
}