@import "tailwindcss";

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

@font-face {
    font-family: 'JekoDEMO-ExtraBold'; 
    src: url('/assets/fonts/JekoDEMO-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@layer theme {
    :root, :host {
        --font-family-sans: 'JekoDEMO-ExtraBold', sans-serif;
        --default-font-family: var(--font-family-sans); 
    }
}

@theme {
}